body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: white;
    padding: 10px;
    position: relative; /* Damit der Button relativ zum Header positioniert wird */
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .language-toggle {
    display: inline-block;
    padding: 10px 20px; /* Abstand um den Button */
    border: 2px solid gray; /* Graue Umrandung */
    border-radius: 30px; /* Ovaler Button */
    position: relative;
    background-color: white; /* Weißer Hintergrund für den Button */
    font-size: 16px;
    color: gray;
    text-decoration: none;
    cursor: pointer;
    line-height: 20px;
    margin: 0 auto; /* Zentriert den Button */
    font-weight: bold;
  }
  
  .language-toggle a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
  }

  /* Strich in der Mitte des Buttons */
.language-toggle::before {
    content: "|"; /* Der senkrechte Strich */
    position: absolute;
    top: 50%; /* In der Mitte des Buttons */
    left: 50%; /* In der Mitte des Buttons */
    transform: translate(-50%, -50%); /* Zentriert den Strich */
    color: gray; /* Strich in grauer Farbe */
    font-size: 20px; /* Größe des Strichs */
  }
  
  .language-toggle a:hover {
    background-color: lightgray; /* Hintergrundfarbe beim Hover */
    color: white; /* Textfarbe beim Hover */
  }
  
  /* Sprachumschalter unten */
  footer .language-toggle {
    top: auto;
    bottom: 10px;   /* Abstand vom unteren Rand */
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }