.container-grid {
    display: grid;
    
    align-items: center; /* Zentriert Bild und Text vertikal */
    gap: 20px; /* Abstand zwischen Bild und Text */
}

.image {
    width: 834px;
    height: 1113px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
}