<!DOCTYPE html>
<html lang="de">
<head>
  <link rel="icon" href="/assets/images/faviconInput.jpg" type="image/x-icon"> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  

  <header>
    <div class="language-header">
        <div class="language-toggle">
          {% include language-toggle.html %}
        </div>
      </div>
    
    <nav>
      <ul>
        <li><a href="/de/index.html">Startseite</a></li>
        <li><a href="/de/westkapelle.html">Westkapelle</a></li>
        <li><a href="/de/umgebung.html">Umgebung </a></li>
        <li><a href="/de/einkaufenUndRestaurants.html">Einkaufen und Umgebung</a></li>
        <li><a href="/de/kontaktUndReservierung.html">Kontakt und Reservierung</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>
      APPARTEMENT ZUIDERSTRAND 
    </p>
    <p>
      Westkapelle Zeeland
    </p>
  </footer>
</body>
</html>