<!DOCTYPE html>
<html lang="ne">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  

  <header>
    <div class="language-header">
        <div class="language-toggle">
          {% include language-toggle.html %}
        </div>
      </div>
    
    <nav>
      <ul>
        <li><a href="/ne/index.html">StartseiteNE</a></li>
        <li><a href="/ne/westkapelle.html">WestkapelleNE</a></li>
        <li><a href="/ne/umgebung.html">UmgebungNE</a></li>
        <li><a href="/ne/einkaufenUndRestaurants.html">Einkaufen und UmgebungNE</a></li>
        <li><a href="/ne/kontaktUndReservierung.html">Kontakt und ReservierungNE</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>
        APPARTEMENT ZUIDERSTRAND VIKINGPARK 1
    </p>
    <p>
        Westkapelle Zeeland
    </p>
  </footer>
</body>
</html>